%section.disclosures#disclosures
  - @disclosures.each do |disclosure|
    %article.disclosure
      .general-income-value
        .box{data:{value: (200*disclosure.general_income_value)/@max_general_income}}
      .general-income
        = disclosure.general_income_value
      .person
        %a{href:'#'}
          = disclosure.official_name
      .position
        %a{href:'#'}
          = disclosure.official_position
      .city-council
        %a{href:'#'}
          = disclosure.city_council
