%article.disclosure
  .general-income-value
    .box{data:{value: 190}}
  .general-income
    120 000
  .person
    %a{href:'#'}
      Селезньов А.Е.
  .position
    %a{href:'#'}
      Секретар
  .city-council
    %a{href:'#'}
      Донецька миська рада
