%section.promo-menu
  %header
    %h2
      Открытые декларации всему голова
  %nav.promo-nav
    .block
      .income
        = link_to 'Общий доход', root_path, class: 'income'
      .asset
        = link_to 'Майно', root_path, class: 'income'
      .by_city
        = link_to 'Горсовет', root_path, class: 'income'

%section.disclosures
  %article.disclosure
    .general-income-value
      .box{data:{value: 190}}
    .general-income
      120 000
    .person
      %a{href:'#'}
        Селезньов А.Е.
    .position
      %a{href:'#'}
        Секретар
    .city-council
      %a{href:'#'}
        Донецька миська рада

  %article.disclosure
    .general-income-value
      .box{data:{value: 80}}
    .general-income
      12 000
    .person
      %a{href:'#'}
        Константинопольский А.Е.
    .position
      %a{href:'#'}
        Секретар
    .city-council
      %a{href:'#'}
        Новокаховська миська рада

  %article.disclosure
    .general-income-value
      .box{data:{value: 100}}
    .general-income
      2 000
    .person
      %a{href:'#'}
        Кузьменко А.Е.
    .position
      %a{href:'#'}
        Секретар заместителя начальника головного управления
    .city-council
      %a{href:'#'}
        Павлоградська миська рада
