%section.promo-menu
  %header
    %h2
      Открытые декларации всему голова
  %nav.promo-nav
    .block
      .income
        = link_to 'Общий доход', root_path, class: 'income'
      .asset
        = link_to 'Майно', root_path, class: 'income'
      .by_city
        = link_to 'Горсовет', root_path, class: 'income'

%header.flex
  %h1
    Финансовые декларации
  .action
    .add_disclosure
      = link_to 'Добавить декларацию', disclosure_new_path, class: 'btn btn-default'

.container
  .row
    .cities.col-md-12
      - 15.times do
        .city
          .city_name
            Донецк
          .titles
            .item.golova
              .title
                Голова
              .income
                230.000 ₴
            - 2.times do
              .item
                .title
                  Заступник
                .income
                  230.000 ₴
      - 15.times do
        .city
          .city_name
            Донецк
          .titles
            .item.golova
              .title
                Голова
              .income
                230.000 ₴
            - 3.times do
              .item
                .title
                  Заступник
                .income
                  230.000 ₴
