section.promo-menu {
  border-bottom: 1px solid #444;
  padding: 10px 0 41px 0;
  h2 {
    font-size: 40px;
    text-align: center;
    color: #000000;
  }

  .promo-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;

    div {
      margin-right: 10px;
      font-size: 20px;

      a {
        text-decoration: none;
        border-bottom: 1px solid lightblue;
      }
    }
  }
}

.block {
  display: flex;
}
