%section.disclosures#disclosures
  - @disclosures.each do |disclosure|
    - value = (200*disclosure.general_income_value)/@max_general_income
    %article.disclosure
      .general-income-value
        .box{data:{value: value}}
      .general-income
        = disclosure.general_income_value
      .person
        %a{href:'#'}
          = disclosure.official_name
      .position
        = link_to posada(disclosure), position_path(posada(disclosure))
