// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
#header {
  background: #444;
  padding: 10px 0px 10px 0px;

  ul.tabs {
    > li.current {
      > a {
        font-weight: bold;
        color: #444;
        text-shadow: none;
        background: #eeeeee;
        border-radius: 0px;
        padding: 19px 14px 17px 14px;
      }
    }
  }
}

#title_bar {
  background: white;
  border: none;
  box-shadow: none;

  #titlebar_left {
    height: 84px;
  }
}

