@import "active_admin";
@import "vendor/normalize";

body {
  min-width: 960px;
  background: #eee;
}

h2 {
  margin: 0 0;
  color: white;
}

a {
  color: #28154D;
}

@import "application/header";
@import "main/index";
@import "main";
@import "disclosure";
@import "declaring/new";

