//@import "compass";
//
//.row_test {
//  @include display-flex;
//  @include flex-direction(row);
//}

body {
  background-color: #555;
  min-width: 960px;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  background-color: #444;
  color: #eee;
  min-height: 100px;
  padding: 0px 0px 0px 35px;

  h1 {
    margin: 0px 0px;
    padding: 10px 0px;
    width: 80%;
  }

  a {
    color: inherit;
    text-underline: none;
  }

  .action {
    display: flex;
    justify-content: center;
    width: 20%;

    a {
      font-weight: bold;
    }
  }
}

.cities {
  display: flex;
  flex-flow: row wrap;
}

.city {
  padding: 8px 12px;
  margin: 8px 8px;
  background-color: #eee;
  border-radius: 5px;

  .city_name {
    font-size: 18px;
    padding: 13px 0px;
  }
}

.titles {
  .title {
    font-size: 13px;
    width: 100px;
  }
}

.item {
  display: flex;

  &.golova {
    .income {
      font-weight: bold;
    }
  }
}


