%header.global-header
  .logo
    = link_to_unless_current('ДК', { controller: 'main', action: 'index'})
  .block
    .citizens_link
      = link_to 'Для граждан', public_asset_disclosure_learn_more_path, class: 'citizens'
    .citizens_link
      = link_to 'Для муниципалитетов', control_disclosure_information_path, class: 'local-government'
  .disclosures_count
    %span.value= '120'
    деклараций

