.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #444;
  padding: 17px 8.3% 17px 8.3%;
  border-bottom: 2px solid #444;

  .logo {
    font-size: 24px;
    a {
      color: #444;
      text-decoration: none;

      &:hover {
        color: lighten(#444, 20);
      }
    }
  }

  .block {
    display: flex;
    div {
      margin-right: 30px;
    }
  }

  .disclosures_count {
    span {
      font-size: 24px;
    }
    font-size: 16px;
    margin-right: 50px;
  }
}
