.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
  padding: 17px 8.3% 17px 8.3%;
  border-bottom: 2px solid #444;

  background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(205,205,205,1));
  background-color: white;
  box-shadow: 0px 4px 5px rgba(#555, 0.4);

  position:relative;
  z-index: 2;

  a {
    color: rgba(57, 53, 166, 0.97);
    text-decoration: none;
    border-bottom: 1px dotted rgba(#444, 0.4);
  }

  .logo {
    font-size: 24px;
    a {
      color: #444;
      text-decoration: none;
      border: none;

      &:hover {
        color: lighten(#444, 20);
      }
    }
  }

  .block {
    display: flex;
    div {
      margin-right: 30px;
    }

    a {
      font-size: 14px;
    }
  }

  .disclosures_count {
    span {
      font-size: 24px;
    }
    font-size: 16px;
    margin-right: 50px;
  }
}
